MODEL_PATH=../../../fine-tuned-biobert/fine_tuned_biobert_triage-20260602T132911Z-3-001/fine_tuned_biobert_triage
ML_SERVICE_URL=http://127.0.0.1:8001
ML_PORT=8001
PORT=5000
CONFIDENCE_THRESHOLD=0.85
